@import "/src/themes/variables";

.dropdown-multi-selector {
  .input {
    border: 1px solid $primary;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .listItems {
    background-color: $white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 10px $gray3;
    border: 1px solid $gray2;
    .item {
      cursor: pointer;
      border-radius: 0.5rem;
      padding: 0.5rem;
      &:hover {
        background: $secondary;
      }
    }
  }
}
